* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

a {
  text-decoration: none;
}
